flows.json
[{"id":"3f271c1d.f2c3d4","type":"tab","label":"Google Cloud Object Detection","disabled":false,"info":""},{"id":"ea6a37bd.4bfa98","type":"tab","label":"Slide Show","disabled":false,"info":""},{"id":"49119ef4.87a1f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c640f583.c18e68","type":"ui_tab","z":"","name":"Detection","icon":"dashboard","disabled":false,"hidden":false},{"id":"6af3300e.58052","type":"ui_group","z":"","name":"Manual Detection","tab":"c640f583.c18e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"404aaca8.2d1bf4","type":"ui_group","z":"","name":"COVID-19 Data #s","tab":"","order":1,"disp":true,"width":"20","collapse":false},{"id":"fe1005da.9c3758","type":"ui_group","z":"","name":"Slideshow","tab":"6799e245.b4d77c","order":1,"disp":true,"width":"10","collapse":false},{"id":"6799e245.b4d77c","type":"ui_tab","z":"","name":"Pics Taken","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5b0d9438.e7003c","type":"http in","z":"3f271c1d.f2c3d4","name":"","url":"object","method":"get","upload":false,"swaggerDoc":"","x":150,"y":20,"wires":[["5780a5.8ffb0f5c"]]},{"id":"c8baeaf2.7a9ed8","type":"ui_button","z":"3f271c1d.f2c3d4","name":"","group":"6af3300e.58052","order":2,"width":0,"height":0,"passthru":false,"label":"Detect Objects","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":80,"wires":[["5780a5.8ffb0f5c"]]},{"id":"8efd946b.868588","type":"inject","z":"3f271c1d.f2c3d4","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":140,"wires":[["5780a5.8ffb0f5c"]]},{"id":"5780a5.8ffb0f5c","type":"function","z":"3f271c1d.f2c3d4","name":"","func":"var o = \"sudo fswebcam -r 1280x720 --no-banner /home/pi/Public/hackathon/\" + Date.now() + \".jpg\";\nmsg.topic = \"/home/pi/Public/hackathon/\" + Date.now() + \".jpg\";\nmsg.payload = o;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["84439585.660748"]]},{"id":"84439585.660748","type":"exec","z":"3f271c1d.f2c3d4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":630,"y":160,"wires":[[],[],["264dc9b3.66a8c6"]]},{"id":"264dc9b3.66a8c6","type":"function","z":"3f271c1d.f2c3d4","name":"","func":"msg.filename = msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":200,"wires":[["8450147b.99c268"]]},{"id":"8450147b.99c268","type":"file in","z":"3f271c1d.f2c3d4","name":"Load the image file","filename":"","format":"","x":190,"y":240,"wires":[["6ddd4983.ae5168","7c9f3592.1a1c3c"]]},{"id":"6ddd4983.ae5168","type":"image","z":"3f271c1d.f2c3d4","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":240,"wires":[]},{"id":"7c9f3592.1a1c3c","type":"google-vision-object-detection","z":"3f271c1d.f2c3d4","keyFilename":"/home/pi/hackathon-280118-7118fdea4ff5.json","name":"","x":160,"y":300,"wires":[["aa5b40a5.64deb"]]},{"id":"aa5b40a5.64deb","type":"function","z":"3f271c1d.f2c3d4","name":"Get Highest % Object","func":"var o = msg.payload[0][\"name\"];\nmsg.payload = o;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":340,"wires":[["a38023d.151cee"]]},{"id":"a38023d.151cee","type":"function","z":"3f271c1d.f2c3d4","name":"Add \"this is a \"","func":"var o = msg.payload;\nmsg.payload = \"That is a \" + o;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":380,"wires":[["3aa9a660.cd9c5a","58fc516f.8a546"]]},{"id":"3aa9a660.cd9c5a","type":"debug","z":"3f271c1d.f2c3d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":420,"wires":[]},{"id":"58fc516f.8a546","type":"ui_audio","z":"3f271c1d.f2c3d4","d":true,"name":"","group":"6af3300e.58052","voice":"en-US","always":true,"x":160,"y":460,"wires":[]},{"id":"137c2df5.a06812","type":"ui_text","z":"ea6a37bd.4bfa98","d":true,"group":"fe1005da.9c3758","order":12,"width":5,"height":1,"name":"picName/number","label":"{{msg.fileName}}","format":"{{msg.affSlideIndex}}/{{msg.numSlides}}","layout":"row-spread","x":670,"y":430,"wires":[]},{"id":"f968e809.7d2a18","type":"switch","z":"ea6a37bd.4bfa98","name":"flow gate filter Switch","property":"gateSlide","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":630,"wires":[["c8e99ca2.f7862"]]},{"id":"f3372a3e.cc0d28","type":"function","z":"ea6a37bd.4bfa98","name":"Gate","func":"let read = flow.get(\"gateSlide\");\nlet status = read ? \"Opened\" : \"Closed\";\nlet color  = read ? \"green\" : \"red\";\nnode.status({fill:color,shape:\"ring\",text:status});\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":630,"wires":[["f968e809.7d2a18"]]},{"id":"5c938024.0b87","type":"trigger","z":"ea6a37bd.4bfa98","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-2","extend":false,"units":"s","reset":"","bytopic":"all","name":"2s","x":280,"y":630,"wires":[["f3372a3e.cc0d28"]]},{"id":"b0fb7e2a.4f8e5","type":"inject","z":"ea6a37bd.4bfa98","name":"","topic":"","payload":"Sequencer","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":150,"y":630,"wires":[["5c938024.0b87"]]},{"id":"7fd9d3f7.694ebc","type":"link in","z":"ea6a37bd.4bfa98","name":"getPath","links":["271aca69.06a7c6","d4dc51cb.4e0ef","6816661c.dc4008","f8f338.7920fcc8","4616e465.e9e8cc"],"x":165,"y":360,"wires":[["74be105b.4bfeb"]]},{"id":"f01315a8.8fb9b8","type":"inject","z":"ea6a37bd.4bfa98","name":"Go","topic":"","payload":"Initialize pictures","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":360,"wires":[["74be105b.4bfeb"]]},{"id":"25a6b65e.5d39fa","type":"link out","z":"ea6a37bd.4bfa98","name":"getPath","links":["7fd9d3f7.694ebc"],"x":265,"y":480,"wires":[]},{"id":"c7470ed0.a7086","type":"ui_button","z":"ea6a37bd.4bfa98","name":"<","group":"fe1005da.9c3758","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-chevron-left","payload":"previous","payloadType":"str","topic":"","x":150,"y":590,"wires":[["25a6b65e.5d39fa"]]},{"id":"c8e99ca2.f7862","type":"ui_button","z":"ea6a37bd.4bfa98","name":">","group":"fe1005da.9c3758","order":5,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"fa-chevron-right","payload":"next","payloadType":"str","topic":"","x":150,"y":560,"wires":[["25a6b65e.5d39fa"]]},{"id":"80e3411f.1ac5d","type":"ui_button","z":"ea6a37bd.4bfa98","name":"Del","group":"fe1005da.9c3758","order":7,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"delete","payload":"del","payloadType":"str","topic":"","x":150,"y":530,"wires":[["25a6b65e.5d39fa"]]},{"id":"188139c.4d110c6","type":"ui_button","z":"ea6a37bd.4bfa98","name":">>","group":"fe1005da.9c3758","order":6,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"fast_forward","payload":"last","payloadType":"str","topic":"","x":150,"y":500,"wires":[["25a6b65e.5d39fa"]]},{"id":"4ccc7817.835bd8","type":"ui_button","z":"ea6a37bd.4bfa98","name":"<<","group":"fe1005da.9c3758","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"fast_rewind","payload":"first","payloadType":"str","topic":"","x":150,"y":470,"wires":[["25a6b65e.5d39fa"]]},{"id":"7b2fa478.d2e11c","type":"ui_button","z":"ea6a37bd.4bfa98","name":"pause","group":"fe1005da.9c3758","order":9,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"pause","payloadType":"str","topic":"","x":150,"y":440,"wires":[["25a6b65e.5d39fa","ac9a85df.014598"]]},{"id":"ac9a85df.014598","type":"ui_text","z":"ea6a37bd.4bfa98","group":"fe1005da.9c3758","order":10,"width":2,"height":1,"name":"play/pause","label":"{{msg.payload}}","format":"","layout":"row-left","x":300,"y":410,"wires":[]},{"id":"46809c18.4321d4","type":"ui_button","z":"ea6a37bd.4bfa98","name":"play","group":"fe1005da.9c3758","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"play","payloadType":"str","topic":"","x":150,"y":410,"wires":[["25a6b65e.5d39fa","ac9a85df.014598"]]},{"id":"74be105b.4bfeb","type":"function","z":"ea6a37bd.4bfa98","name":"set path","func":"//let path=flow.get('picturePath');\npath = \"/home/pi/Public/hackathon\";\n//flow.set ('picturePath',path);    //save picturePath : le chemin du dossier des pictures\nmsg.path = path;\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["85223150.b820b"]]},{"id":"85223150.b820b","type":"fs-ops-dir","z":"ea6a37bd.4bfa98","name":"","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":380,"y":360,"wires":[["8de196be.13f768"]]},{"id":"8de196be.13f768","type":"change","z":"ea6a37bd.4bfa98","name":"set array in flow.slides","rules":[{"t":"set","p":"slides","pt":"flow","to":"files","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["a9cd7742.73dc58"]]},{"id":"a9cd7742.73dc58","type":"function","z":"ea6a37bd.4bfa98","name":"Set numSlides","func":"let totalPic = flow.get(\"slides\").length;   //get sise of array\nnode.status({text:totalPic});   // display under node\nmsg.numSlides = totalPic;//Tx: numSlides = total pictures in the files array\nreturn msg;\n\n/*  Tx en sortie : \n\n*/","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["561322d8.21f5bc"]]},{"id":"561322d8.21f5bc","type":"function","z":"ea6a37bd.4bfa98","name":"action case","func":"let action = msg.payload;       //what to navigate ?\nlet numSlides = msg.numSlides;  //total pictures in the \"files\" array\nlet slideIndex = flow.get(\"slideIndex\") || 0;   //index  position picture\nlet gateSlide = flow.get(\"gateSlide\")||0;   // play or pause\n\n    switch (action) {\n        case \"play\":\n        flow.set (\"gateSlide\", true);\n            break;\n        case \"pause\":\n        flow.set (\"gateSlide\", false);\n            break;\n        case \"first\":      \n            slideIndex = 0;//go to first\n            break;        \n        case \"last\":\n            slideIndex = numSlides-1;//got to last\n            break;\n        case \"del\"://**********DELETE PICTURE **********\n            msg.fileName = flow.get(\"slides\")[slideIndex];   //Tx: name picture\n            node.send([null,{    // 2nd output : \n            fileName:msg.fileName, path:msg.path, numSlides:msg.numSlides,slideIndex:slideIndex\n            }]);    \n            return msg\n        case \"next\":\n            slideIndex++;\n            if(gateSlide === true){\n                if (slideIndex > numSlides - 1) slideIndex = 0; //repeat if played\n            } else {\n                if (slideIndex > numSlides - 1) slideIndex = numSlides-1; //stay at last if next\n                    }\n            break;\n        case \"previous\": \n            slideIndex--;\n            if (slideIndex < 0) slideIndex = 0; //stay on first\n            break;\n        default:\n            break;\n    }\nmsg.affSlideIndex = slideIndex+1;   //Tx N°  picture\nflow.set(\"slideIndex\", slideIndex); //save position for next time\nmsg.slideIndex=slideIndex;   //Tx position  picture\n\n//get name picture from slideIndex position in the \"slides\" array\nmsg.fileName = flow.get(\"slides\")[msg.slideIndex];   //Tx: picture name\n\n//alternative message if Folder is empty\nif (numSlides === 0) {\n    msg.fileName = \"Empty Folder !    \";\n    msg.affSlideIndex = 0;   //Tx N°  picture\n}\nnode.status({\"text\" : msg.fileName});        //under the node\n\n\nreturn msg;\n\n\n\n\n","outputs":2,"noerr":0,"x":470,"y":480,"wires":[["137c2df5.a06812","cc831d2e.2c284"],["1c7f3587.e4560a"]]},{"id":"cc831d2e.2c284","type":"ui_template","z":"ea6a37bd.4bfa98","group":"fe1005da.9c3758","name":"img","order":1,"width":10,"height":8,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.parent {\n  position: relative;\n  height: 480px ;\n}\ndiv.absolute {\n  position: absolute;\n  width: 100%;\n  bottom: 0px;\n} \n\n</style>\n</head>\n<body>\n    <div class=\"parent\">\n        <div class=\"absolute\" >\n        <img src=\"/hackathon/{{msg.fileName}}\" alt=\"Camera Picture\" style=\"width:100%\"><br>\n        {{msg.fileName}} {{msg.affSlideIndex}}/{{msg.numSlides}} \n        </div>\n    </div>\n</body>\n</html>\n<!--EXPLICATION  :  https://www.w3schools.com/cssref/tryit.asp?filename=trycss_position_bottom -->\n\n<!-- ////// SIMPLE VERSION //////////\n<style>        \nimg {\n    width: 100%;\n    height: auto;\n    border:1px solid green;\n}\n</style>\n<body>\n<div >\n<img src= \"/camAlerte/{{msg.fileName}}\" alt=\"Camera Picture\"   ><br>\n</div>\n</body>\n\n\n\n\n-->\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":630,"y":460,"wires":[[]]},{"id":"1c7f3587.e4560a","type":"fs-ops-delete","z":"ea6a37bd.4bfa98","name":"del","path":"path","pathType":"msg","filename":"fileName","filenameType":"msg","x":630,"y":490,"wires":[["b44f43c3.a5311"]]},{"id":"b44f43c3.a5311","type":"function","z":"ea6a37bd.4bfa98","name":"Stay at last","func":"let slideIndex = msg.slideIndex;\nlet numSlides = msg.numSlides;\n    if (slideIndex==numSlides-1) {\n            msg.payload=\"previous\"\n        } \n        else { msg.payload=\"refresh\" }        \nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":490,"wires":[["499c9c8d.f56a54"]]},{"id":"499c9c8d.f56a54","type":"link out","z":"ea6a37bd.4bfa98","name":"getPath","links":["7fd9d3f7.694ebc"],"x":855,"y":490,"wires":[]}]